Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

#def function is used to create function

In [6]:
l = [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25]

In [27]:
# Python program to print odd Numbers in given range
def test():
    start, end = 1, 25
 
    # iterating each number in list
for num in range(start, end + 1):
     
    # checking condition
    if num % 2 != 0:
        print(num, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs
to demonstrate their use.

In [1]:
def test11(*args):
    return args

In [2]:
type (test11())

tuple

In [3]:
test11(1,2,3,"shudh","kumar",[1,2,3,4])

(1, 2, 3, 'shudh', 'kumar', [1, 2, 3, 4])

In [ ]:
def test1(**kwarg):
    return kwarg

In [1]:
type (test1())

NameError: name 'test1' is not defined

Q3.  What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,
16, 18, 20].

Iterator in Python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets. The iterator object is initialized using the iter() method. It uses the next() method for iteration

In [2]:
nums = [2,4,6,8,10,12,14,16,18,20]

In [14]:
 len(nums)

10

In [ ]:
#using list iteration to print first five element of given list

In [17]:
for n in range(len(nums)):
    print(nums[0])
    print(nums[1])
    print(nums[2])
    print(nums[3])
    print(nums[4])

2
4
6
8
10
2
4
6
8
10
2
4
6
8
10
2
4
6
8
10
2
4
6
8
10
2
4
6
8
10
2
4
6
8
10
2
4
6
8
10
2
4
6
8
10
2
4
6
8
10

Q4.  What is a generator function in python? Why yield keyword is used? Give an example of a generator
function

Generator function is a specific method in python .which provide space in memory .
it store all data one by one and gives result at one time . it is helps from  memory consumption .
yield keyword is used to create a generator function. A type of function that is memory efficient and can be used like an iterator object.

In [18]:
def fun_generator():
	yield "Hello world!!"
	yield "Geeksforgeeks"


obj = fun_generator()

print(type(obj))

print(next(obj))
print(next(obj))

<class 'generator'>
Hello world!!
Geeksforgeeks

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [22]:
def prime_generator(limit=1000):
    n = 2
while true :
    if n < limit :
        if is_prime(n):
            yeild n
        n  += 1
    else:
        break

SyntaxError: invalid syntax (3873717999.py, line 6)

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

#fibonacci sseries using whileloop

In [3]:
number = int(input("enter your limit"))
a , b = 0 ,1
counter = 0
while counter < number :
    print (a)
    c = a + b
    a = b
    b = c
    counter= counter+1

enter your limit 10

0
1
1
2
3
5
8
13
21
34

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.
Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [36]:
s="pwskills"

In [37]:
list(s)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

In [47]:
n = list(range(101))

In [49]:
n

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [50]:
[i for i in n if i % 2 == 1 ]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]